legacy-peer-deps=true
network-timeout=600000
fetch-retries=5
fetch-retry-factor=3
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
registry=https://registry.npmjs.org/

# 发布使用官方 npm registry
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
